

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}



#mainImage{
    display: inline-block;
    max-height: 100%;
    max-width: 100%;
    background: red no-repeat center center;
    background-size: contain;
    margin: 1px;
    background-repeat: no-repeat;

}


#divSP{
    position: relative;
    left: -35%;
    top: 5%;
}

/*.top{top:0}
.middle{top:50%;margin-top:-10px;}
.bottom{bottom:0}

.left{left:0;}
.center{left:50%;margin-left:-10px;}
.right{right:0;}*/



#dragThis {
    position: absolute;
    left: 50%;
    top: 50%;
}
/*.modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.modal-content{
  height: 100%;
  min-height: 100%;
  border-radius: 0;
}

.modal-body{
  height: 80%;
  min-height: 80%;
  border-radius: 0;
}
.modal-header{
  height: 10%;
  min-height: 10%;
  border-radius: 0;
}
.modal-footer{
  height: 10%;
  max-height: 10%;
  border-radius: 0;
}*/







#login-dp{
    min-width: 250px;    
    max-width:400px;
    margin:auto;
    padding: 14px 14px;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
    color:#34495e;
        border: 1px solid #34495e;
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    /*display: block;*/
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-gl{
    /*display: block;*/
    color: #fff;
    background-color:#DD4B39;
}
.btn-gl:hover{
    color: #fff;
    background-color:#c23321;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
/*        color: #fff;*/
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

a.link{
    text-decoration:    underline;
}


