/bitAmuletWeb/nbproject/private/
/bitAmuletWeb/build/
PayPalAndSpringMVC/src/main/webapp/WEB-INF/jsp/index.jsp
spring-social-examples-master/sign-in/spring-mvc-normal/src/main/java/net/petrikainulainen/spring/social/signinmvc/user/controller/RegistrationController.java
spring-social-examples-master/sign-in/spring-mvc-normal/src/main/java/net/petrikainulainen/spring/social/signinmvc/config/SocialContext.java
/stlproject1/target/